*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:linear-gradient(135deg,#667eea,#764ba2);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{

    width:450px;
    max-width:90%;
    background:rgba(255,255,255,0.95);
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0px 15px 40px rgba(0,0,0,0.25);

}

h1{

    color:#333;
    margin-bottom:30px;
    font-size:30px;

}

input[type="file"]{

    width:100%;
    padding:15px;
    border:2px dashed #7b61ff;
    border-radius:12px;
    cursor:pointer;
    background:#f9f9ff;
    transition:.3s;

}

input[type="file"]:hover{

    background:#ececff;

}

button{

    margin-top:25px;
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#6c63ff;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;

}

button:hover{

    background:#574bdb;
    transform:translateY(-3px);

}

button:active{

    transform:scale(.98);

}

hr{

    margin:30px 0;

}

h2{

    color:#2e7d32;
    margin-bottom:10px;

}

h3{

    color:#444;
    font-weight:500;

}

.result{

    margin-top:25px;
    padding:20px;
    border-radius:12px;
    background:#f4f7ff;

}

.ai{

    color:#d32f2f;
    font-weight:bold;

}

.real{

    color:#2e7d32;
    font-weight:bold;

}